#content {
    z-index: 10;
}

#overlay {
    z-index: 20;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container p {
    font-size: 4vw;
    padding: 1em;
    text-align: center;
    user-select: none;

    /* ↓↓↓ 追加 ↓↓↓ */
        opacity: 0;
        /* 初期状態で非表示 */
        /* opacity, transform, color の変化を0.2秒かけて滑らかにする */
        transition: opacity 0.2s, transform 0.2s, color 0.2s;
}

#media {
    position: absolute;
    right: 10px;
    bottom: 30px;
    background: rgba(0, 0, 0, 0.2);
}

#meta {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.2);
}

#control {
    position: absolute;
    left: 10px;
    bottom: 30px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.2);
}

#control>button {
    margin-right: 5px;
}

#control>button:last-child {
    margin-right: 0;
}

#beatbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 20px;
    background: #000;
}